<%= form_for @question do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.hidden_field :questioner_id, value: @user.id %>
    <%= form.submit %>
  </p>
<% end %>

