<h1><%= @category.name.capitalize %></h1>

<% @category.articles.each do |article| %>
   <h3> <%= link_to article.title, [article.category, article] %><h3>
  <% end %>



<%= form_for([@category, @category.articles.build]) do |f|  %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
