<!DOCTYPE html>
<html>
<head>
  <title>Craigsjr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <button class="button"> <%=link_to "home", root_url %></button>
</div>

<%= yield %>

</body>
</html>
