<%= flash[:notice] %>
<h1><%= @article.title %></h1>
<h2>$<%= @article.price %></h2>
<p><%= @article.body %></p>
<span>Contact: <%= @article.email %></span>
<%= link_to 'Back', category_path(@category) %>
<% if @article.key == params[:key] %>
  <%= link_to 'Edit', edit_category_article_path(@category, @article) %>
<% end %>