<h1>Articles#edit</h1>
<p>Find me in app/views/articles/edit.html.erb</p>
<%= form_for [@category, @article] do |f| %>
<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :body %>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email %>
</p>
<p>
  <%= f.label :price %>
  <%= f.text_field :price %>
</p>
  <%= f.submit %>
  <% end %>
