<h2>The form!</h2>
<%= form_for @answer do |form| %>

<% if @answer.errors.any? %>
  <ul>
    <% @answer.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<p>
  <%= form.label :body %></br>
  <%= form.text_area :body %>
</p>

<%= form.hidden_field :answerer_id, value: @user.id %>
<%= form.hidden_field :question_id, value: @question.id %>


<%= form.submit %>

<% end %>
