<h2>Answer this question</h2>
<%= form_for([@question, @question.answers.build]) do |form| %>


<p>
  <%= form.label :body %></br>
  <%= form.text_area :body %>
</p>

<%= form.hidden_field :answerer_id, value: @user.id %>
<%= form.hidden_field :question_id, value: @question.id %>

<%= form.submit %>

<% end %>
