<h1><%= @posts.first.user.name %>'s Posts</h1>

<%= link_to "New Post", new_user_post_path %>

<table>
  <tr>
    <th>Title</th>
    <th>url</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.url %></td>
      <td><%= post.text %></td>
      <td><%= link_to 'Show', user_post_path(post.user, post) %></td>
      <% if current_user.id == post.user_id %>
        <td><%= link_to 'Edit', edit_user_post_path(post.user, post) %></td>
        <td><%= link_to 'Destroy',  user_post_path(post.user, post), method: :delete, data: {confirm: 'Confirm?'} %></td>
      <% end %>
    </tr>
  <% end %>
</table>
